html {
	width: 100%;
	height: 100%;
	overflow-y:hidden !important;
}
html::-webkit-scrollbar {
	display: none;
  }
body {
	background-color:#e0e0e0;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	overflow-y:hidden !important;

}


div.ext-box {
	
	float:left;
	height:100%;
	width:1240px;
	display:table;
}

div.int-box {
	display:table-cell;
	vertical-align: middle;
}
.container {
	position:relative;
	width:210px;
	border-radius: 12px;
	background: #ffffff90;
	padding: 35px; 
	float: left;
	margin-right:20px;

}




.title {
	font-size: 16px;
	line-height: 22px;
	font-family: 'Arial', "微軟正黑體", sans-serif;
	text-transform: none;
	text-decoration: none;
	color: black;
	letter-spacing: 00em;

 }

.subtitle {
	font-size: 12px;
	line-height: 16px;
	font-family: 'Arial', "微軟正黑體", sans-serif;
	text-transform: none;
	text-decoration: none;
	color: #6b6b6b;
	letter-spacing: 00em;

 }

.text {
	font-size: 12px;
	line-height: 18px;
	font-family: 'Arial', "微軟正黑體", sans-serif;
	text-transform: none;
	text-decoration: none;
	color: #575757;
	letter-spacing: 00em;
	text-align: left;
}

.button {
	font-size: 12px;
	line-height: 16px;
	font-family: 'Arial', "微軟正黑體", sans-serif;
	text-transform: none;
	text-decoration: none;
	color: black;
	letter-spacing: 00em;

 }

 #button {
	margin: auto;
	border-radius: 50px;
	padding: 8px;
	border: 1px solid black;

}

 :any-link {

	text-decoration: none;
 }


 .footer {
	position: fixed;
	left: 0;
	bottom:0;
	width: 100%;
	padding:45px;

	color: white;

	text-align: left;
 }

 .tag {
	margin: auto;
	border-radius: 24px;
	width:25%;
	display:inline-block;
	position:relative;
	background: #e0e0e0;
	color: #6b6b6b;
	padding: 8px;
	margin-left: 3px;
	margin-right: 3px;


}

.circle { 
	width: 55px;
	height: 55px; 
	border-radius: 50px; 
	display:inline-block;
	position:relative;

}