html {
	width: 100%;
	height: 100%;
	overflow-y:hidden !important;
}
html::-webkit-scrollbar {
	display: none;
  }
body {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	height: 100%;
	background:
	linear-gradient(#CBD2E6, transparent),
	linear-gradient(to top left, #F4E3D9, transparent),
	linear-gradient(to top right, #F9BAB8, transparent);
	

}

div.ext-box {
	width:75%;
	margin:auto;
	height:100%;
	display:table;

	

}

div.int-box {
	display:table-cell;
	vertical-align: middle;

}


.title {
	font-size: 16px;
	line-height: 16px;
	font-family: 'Arial', "微軟正黑體", sans-serif;
	text-transform: none;
	text-decoration: none;
	color: black;
	letter-spacing: 00em;


 }

.megaTitle {
	font-size: 24px;
	line-height: 30px;
	font-family: 'Arial', "微軟正黑體", sans-serif;
	text-transform: none;
	text-decoration: none;
	color: black;
	letter-spacing: 00em;

 }
.subtitle {
	font-size: 12px;
	line-height: 16px;
	font-family: 'Arial', "微軟正黑體", sans-serif;
	text-transform: none;
	text-decoration: none;
	color: black;
	letter-spacing: 00em;

 }

.text {
	font-size: 12px;
	line-height: 22px;
	font-family: 'Arial', "微軟正黑體", sans-serif;
	text-transform: none;
	text-decoration: none;
	color: black;
	letter-spacing: 00em;
	text-align: left;
}

.button {
	font-size: 10px;
	line-height: 16px;
	font-family: 'Arial', "微軟正黑體", sans-serif;
	text-transform: none;
	text-decoration: none;
	color: black;
	letter-spacing: 00em;

 }


#button {
	margin: auto;
	border-radius: 24px;
	background: #01CD98;
	padding: 13px;
	width: 30%;


}

 :any-link {

	text-decoration: none;
 }

.circle {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: red;
  }